   <tr>
        <td><%= flight.airline %></td>
        <td><%= flight.flightNo %></td>
        <td><%= flight.departs %></td>
        <td><%= flight.airport %></td>
        <td><a href = "/flights/<%= f._id %>">Details</a></td>
    </tr>