    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Here's all the flights</title>
</head>
<body>
    <h1>Here's all the flights</h1>

    <a href="/flights/new">Add a New Flight to the List</a>
    <a href="/">Go Back Home</a>

    <% flights.forEach(function(flight) { %>
        <p>
            <%= flight.airline %> | <%= flight.airport %> | 
            <%= flight.flightNo %> | <%= flight.departs %> |
            <a href="/flights/<%= flight._id %>">Details</a>
        </p>
   <% }) %>
</body>
</html>